.chatList{
    padding: 0 27px 0  0;
    margin: 5px;
    height: 100%;
    width: 20vw;
    border-right: 2px dotted gray;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
}

.chatListContainer{
    margin: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

.my-button{
    width: 100%;
}

button{
    outline: none;
}

.button-container{
    background-color: white;
    width: 100%;
    margin: 10px auto;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button-container:hover {
    background-color: #e7e7e7;
}
